 <div class="row"> 
     <div class="col-md-3">Classified Title
     </div>
    <div class="col-md-9">
         <input type="text" ng-model="ClassifiedTitle" />
     </div>                   
</div>
<div class="row"> 
    <div class="col-md-3">Classified Description
     </div>
     <div class="col-md-9">
           <textarea ng-model="ClassifiedDescription" cols="40" rows="5"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-3">Reference No
</div>
     <div class="col-md-9">
         <div ng-repeat="ref in Reference">
       <input type="text" ng-model="ref.NextRefNo" ng-readonly="true"/>
</div>
    </div>  

</div>
<div class="row">
    <div class="col-md-3">Category</div>
    <div class="col-md-9">
    <select ng-model="CategoryID" ng-init="CategoryID='1'">
<option ng-repeat="x in Categories" value="{{x.ID}}">{{x.CategoryTitle}}</option>
</select>
    </div>
</div>
<div class="row"> 
    <div class="col-md-3">Contact Details
     </div>
     <div class="col-md-9">
           <textarea ng-model="ContactDetails" cols="40" rows="5"></textarea>
    </div>
</div>
<div class="row"> 
    <div class="col-md-3">Notes
     </div>
     <div class="col-md-9">
           <textarea ng-model="Notes" cols="40" rows="5"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-3">Is Active</div>
    <div class="col-md-9">
         <input type="checkbox" ng-model="IsActive" ng-model-options="{allowInvalid: true}"   />
               <input type="text" class="datepic" ng-model="FromDate">
        <input type="text" class="datepic" ng-model="ToDate">
    </div>   
</div>
<div class="row">
    <div class="col-md-3">Classified Image</div>
    <div class="col-md-9"><input type="file"  accept="image/*" id="imgInp" onchange="angular.element(this).scope().showMyImage(this)" />
<img id="img" src="#" alt="your image" />
    <input type="text" ng-model="ClassfiedImage" ng-hide="true"   />
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
     <div class="col-md-9">
<a class="btn btn-default" ng-click="addRule()">Save</a></div>
</div>
      <script>
  $(function() {
    $(".datepic").datepicker();
  });
  </script>