 <div class="row">
    <div class="col-md-4"  ng-repeat="category in Categories | filter:filterMiscellaneousPropertyJobs">        
        <div class="categoryProperty">       
            <div class="row">
               
             <div class="col-md-12 col-md-offset-1 margintop lead">                
                  <img id="img" class="img-circle"  ng-src="{{category.CategoryImage}}" alt="your image" width="30" height="30"/>
        
            {{category.CategoryTitle}} 
               
        </div>
            </div>
           
        <div  class="row" ng-repeat="item in classifieds | filter:{ CategoryTitle: category.CategoryTitle }" >  
            
      <div class="col-md-12 marginleft">
        {{item.ClassifiedTitle}}
         
               {{item.ClassifiedDescription.length >= 30 ? (item.ClassifiedDescription.substr(0,30)+'......') : item.ClassifiedDescription}}
         </div>
            </div>
            </div>
 <a class="marginleft" href="#/ClassifiedsByCategory/{{category.ID}}">    
                   Find more classified for  {{category.CategoryTitle}} ...
                </a>
    </div>
</div>
<br />
<br />
 <div class="row">
    <div class="col-md-4" ng-repeat="category in Categories | filter:filterBeautyServicesOther">         
         <div class="categoryProperty">
            <div class="row">
            <div class="col-md-12 col-md-offset-1 margintop lead"> 
                 <img id="img"  class="img-circle" ng-src="{{category.CategoryImage}}" alt="your image" width="30" height="30"/>
        
            {{category.CategoryTitle}} 
             
        </div>
            </div>
         <div  class="row" ng-repeat="item in classifieds | filter:{ CategoryTitle: category.CategoryTitle }" >   
      <div class="col-md-12 marginleft">
        {{item.CategoryTitle}}
                       
               
               {{item.ClassifiedDescription.length >= 30 ? (item.ClassifiedDescription.substr(0,30)+'......') : item.ClassifiedDescription}}
         </div>
            </div>
        </div>
 <a class="marginleft" href="#/ClassifiedsByCategory/{{category.ID}}">    
                 Find more classified for  {{category.CategoryTitle}} ...
                </a>
    </div>
</div>


         
   
